<%= stylesheet_link_tag 'index' %>

<div id="cropping-container" data-controller="cropping" data-cropping-photo-gallery-id-value="<%= @photo_gallery.id %>"
     data-cropping-photo-path-value="" data-action="photo:setPath@window->cropping#setImagePath">
  <button id="open-cropping-modal" class="d-none" data-bs-target="#cropImageModal" data-bs-toggle="modal"></button>
  <%= render 'photo_gallery/components/crop_image' %>
</div>

<div class="modal fade" id="confirmDeleteModal" data-bs-backdrop="static"
     data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-body">
        <p>Are you sure you want to delete selected photo?</p>
        <p>This cannot be undone!</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
        <%= button_to "Delete", photo_gallery_photo_path(0, 0), method: :delete,
                      form: { id: "confirmDeleteButton" }, class: "btn btn-danger" %>
      </div>
    </div>
  </div>
</div>

<div class="position-relative text-center bg-body-secondary">
  <div class="img-container w-100 h-100 ratio" style="--bs-aspect-ratio: 25%">
    <% if @photo_gallery.thumbnail %>
      <%= image_tag @photo_gallery.thumbnail.image, class: "object-fit-cover bg-dark h-100",
                    alt: "album cover" %>
    <% end %>
    <div class="col-md-6 p-lg-5 mx-auto my-5">
      <%= form_with model: @photo_gallery, method: :put,
                    class: 'row row-cols-lg-auto g-3 align-items-start justify-content-center was-validated' do |f| %>
        <div class="col-12 text-start mb-3">
          <%= f.text_field :name, placeholder: "Album title", class: "form-control form-control-lg",
                           id: "validationName", "aria-describedby": "validationNameFeedback", required: 1,
                           minlength: 3, maxlength: 20 %>
          <div id="validationNameFeedback" class="invalid-feedback">
            Album title is not valid.
          </div>
        </div>
        <div class="col-12">
          <%= f.submit "Save", class: "btn btn-primary" %>
        </div>
        <div class="col-12">
          <input type="reset" class="btn btn-secondary" value="Reset">
        </div>
      <% end %>
      <h3 class="fw-normal text-muted mb-3">Author: <%= @photo_gallery.user.name %></h3>
      <div class="d-flex gap-3 justify-content-center lead fw-normal">
        <%= link_to "Go back to gallery view", photo_gallery_path(@photo_gallery), class: "icon-link" %>
        <% if @set_thumbnail %>
          <%= link_to "Cancel set cover", edit_photo_gallery_path(@photo_gallery), class: "icon-link" %>
        <% else %>
          <%= link_to "Set cover photo", edit_photo_gallery_path(@photo_gallery, set_thumbnail: 1), class: "icon-link" %>
        <% end %>
      </div>
    </div>
  </div>

</div>

<div class="album bg-body-tertiary">
  <div class="container text-center py-2">
    <%= render 'layouts/error' %>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-2">
      <% @photo_gallery.photos.each do |photo| %>
        <div class="col">
          <div class="img-container w-100 h-100 ratio ratio-4x3">
            <%= image_tag photo.thumbnail, class: "object-fit-cover img-thumbnail bg-dark h-100",
                          alt: "thumbnail#{photo.id}" %>
              <% if @set_thumbnail %>
                <%= button_to photo_gallery_set_thumbnail_path(@photo_gallery, thumbnail_id: photo.id), method: :post,
                              class: "overlay bg-warning img-thumbnail", style: "--bs-bg-opacity: .5" do %>
                  <div class="position-absolute top-50 start-50 translate-middle">
                    <i class="fs-1 text-warning bi bi-check-lg"></i>
                  </div>
                <% end %>
              <% else %>
                <div data-controller="photo"
                     data-photo-path-value="<%= photo_gallery_photo_path(@photo_gallery, photo) %>"
                     class="overlay bg-black img-thumbnail" style="--bs-bg-opacity: .5">
                  <div class="position-absolute top-50 start-50 translate-middle">
                    <button class="btn btn-outline-warning" data-action="photo#setPath">Crop</button>
                    <button class="btn btn-outline-danger" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                            data-action="photo#delete">Delete</button>
                  </div>
                </div>
              <% end %>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>
