<%= stylesheet_link_tag 'index' %>

<% if @my_gallery %>
  <div class="modal fade" id="confirmDeleteModal" data-bs-backdrop="static"
       data-bs-keyboard="false" tabindex="-1" aria-labelledby="confirmDeleteModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-body">
          <p>Are you sure you want to delete gallery of name <span id="deleteGalleryName"></span>?</p>
          <p>This cannot be undone!</p>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
          <%= button_to "Delete", photo_gallery_path(0), method: :delete, form: { id: "confirmDeleteButton" }, class: "btn btn-danger" %>
        </div>
      </div>
    </div>
  </div>
<% end %>

<section class="py-5 text-center container-fluid bg-body-secondary">
  <div class="row py-lg-5">
    <div class="col-lg-6 col-md-8 mx-auto">
      <h1 class="fw-light">Awesome galleries</h1>
      <p class="lead text-body-secondary">Website where you can create your own galleries and share it with people!</p>
      <% if !user_signed_in? %>
        <p class="lead text-body-secondary">Sign up now to create your albums</p>
        <p><%= link_to "Sign up", new_user_registration_path, class: "btn btn-primary my-2" %></p>
      <% else %>
        <p><%= link_to "Create album", new_photo_gallery_path, class: "btn btn-primary my-2" %></p>
      <% end %>
    </div>
  </div>
</section>

<div class="album py-5 bg-body-tertiary">
  <div class="container">
    <%= render 'layouts/error' %>

    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
      <% @photo_galleries.each do |photo_gallery| %>
        <div class="col">
          <div class="card shadow-sm">
            <% if photo_gallery.thumbnail %>
              <%= image_tag photo_gallery.thumbnail.thumbnail, class: "bd-placeholder-img card-img-top object-fit-cover",
                            height: "225", role: "img", "aria-label": "Placeholder: Thumbnail",
                            preserveAspectRatio: "xMidYMid slice", focusable: "false", alt: "album cover" %>
            <% else %>
              <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg"
                   role="img" aria-label="Placeholder: Thumbnail" preserveAspectRatio="xMidYMid slice" focusable="false">
                <title>Placeholder</title>
                <rect width="100%" height="100%" fill="#55595c"/>
                <text x="50%" y="50%" fill="#eceeef" dy=".3em">No photo</text>
              </svg>
            <% end %>

            <div class="card-body">
              <h5 class="card-title"><%= photo_gallery.name %></h5>
              <p class="card-text">Author: <%= photo_gallery.user.name %></p>
              <% if @my_gallery %>
                <div data-controller="gallery"
                     data-gallery-delete-path-value="<%= photo_gallery_path(photo_gallery) %>"
                     data-gallery-name-value="<%= photo_gallery.name %>"
                     class="btn-group" role="group" aria-label="Basic mixed styles example">
                  <%= link_to "View gallery", photo_gallery_path(photo_gallery), class: "btn btn-primary" %>
                  <button type="button" data-bs-toggle="modal" data-bs-target="#confirmDeleteModal"
                          data-action="gallery#delete" class="btn btn-danger">Delete</button>
                </div>
              <% else %>
                <%= link_to "View gallery", photo_gallery_path(photo_gallery), class: "btn btn-primary" %>
              <% end %>

            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>