<%= stylesheet_link_tag 'index' %>

<div data-controller="dropzone cropping" data-cropping-photo-gallery-id-value="<%= @photo_gallery.id %>"
     data-cropping-photo-path-value=""
     data-dropzone-photo-gallery-id-value="<%= @photo_gallery.id %>">
  <%= render 'photo_gallery/components/drop_and_upload' %>
  <%= render 'photo_gallery/components/crop_image' %>
</div>

<div data-controller="preview" data-preview-path-value="<%= photo_gallery_photo_index_path(@photo_gallery) %>">
  <%= render 'photo_gallery/components/image_preview' %>

  <div class="position-relative text-center bg-body-secondary">
    <div class="img-container w-100 h-100 ratio" style="--bs-aspect-ratio: 25%">
      <% if @photo_gallery.thumbnail %>
        <%= image_tag @photo_gallery.thumbnail.image, class: "object-fit-cover bg-dark h-100",
                      alt: "album cover" %>
      <% end %>
      <div class="col-md-6 p-lg-5 mx-auto my-5">
        <h1 class="display-3 fw-bold text-light"><%= @photo_gallery.name %></h1>
        <h3 class="fw-normal mb-3 text-light">
          Author: <%= @photo_gallery.user.name %>
        </h3>
        <div class="d-flex gap-3 justify-content-center lead fw-normal">
          <a type="button" class="icon-link" data-action="preview#startSlideshow">
            Slideshow
          </a>
          <% if can? :manage, @photo_gallery %>
            <%= link_to "Edit gallery", edit_photo_gallery_path(@photo_gallery), class: "icon-link" %>
            <a type="button" class="icon-link" data-bs-toggle="modal" data-bs-target="#dropAndUploadModal">
              Add photo
            </a>
          <% end %>
        </div>
      </div>
    </div>

  </div>

  <div class="album bg-body-tertiary">
    <div class="container text-center py-2">
      <%= render 'layouts/alert' %>

      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-2">
        <% @photo_gallery.photos.each do |photo| %>
          <div class="col">
            <div class="img-container w-100 h-100 ratio ratio-4x3">
              <%= image_tag photo.thumbnail, class: "object-fit-cover img-thumbnail bg-dark h-100",
                            alt: "thumbnail#{photo.id}" %>
              <button class="overlay bg-black img-thumbnail" style="--bs-bg-opacity: .5"
                 data-action="preview#openPreview" data-preview-target="image" data-preview-id-param="<%= photo.id %>">
              </button>
            </div>
          </div>
        <% end %>
      </div>
    </div>
  </div>
</div>