<!DOCTYPE html>
<html>
  <head>
    <title>Gallery</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <header class="p-3 text-bg-dark">
      <div class="container">
        <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
          <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-white text-decoration-none">
            <svg class="bi me-2" width="40" height="32" role="img" aria-label="Bootstrap"><use xlink:href="#bootstrap"/></svg>
          </a>

          <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0">
            <li><a href="/" class="nav-link px-2 text-secondary">Home</a></li>
            <li><a href="#" class="nav-link px-2 text-white">Galleries</a></li>
          </ul>

          <div class="text-end">
            <% if user_signed_in? %>
              <%= button_to "Logout", destroy_user_session_path, method: :delete, class: "btn btn-primary", data: { notice:  } %>
            <% else %>
              <%= link_to "Login", new_user_session_path, class: "btn btn-outline-primary me-2" %>
              <%= link_to "Sign-up", new_user_registration_path, class: "btn btn-primary" %>
            <% end %>
          </div>
        </div>
      </div>
    </header>

    <main class="d-flex justify-content-center py-4 bg-body-tertiary">
      <div class="col-lg-10 mt-4">
        <% if flash.present? %>
          <div class="container flash-messages">
            <% flash.each do |message_type, message| %>
              <% next unless message_type == 'alert' || message_type == 'notice' %>
              <div class="alert alert-<%= message_type == 'notice' ? 'success' : 'danger' %>"><%= message %></div>
            <% end %>
          </div>
        <% end %>

        <%= yield %>
      </div>
    </main>

    <footer class="text-body-secondary py-5">
      <div class="container">
        <p class="float-end mb-1">
          <a href="#">Back to top</a>
        </p>
        <p class="mb-1">Album example is &copy; Bootstrap, but please download and customize it for yourself!</p>
        <p class="mb-0">New to Bootstrap? <a href="/">Visit the homepage</a> or read our <a href="../getting-started/introduction/">getting started guide</a>.</p>
      </div>
    </footer>
  </body>
</html>
